* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* MENY */
.container {
    height: 91px;
}

.list {
    font-family: OpenSans-Bold, AdobeInvisFont, MyriadPro-Regular;
    font-size: 18px;
    list-style: none;
    text-align: right;
    color: black;
    margin-right: 164px;
    margin-top: 65px;
    margin-bottom: 90px;
}

.list a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 22px;
    display: inline-block;

}

.list a:hover,
.list a:focus {
    color: #10e7bc;
}

.list li {
    display: inline-block;
    margin-left: 22px;
}

.mart {
    margin-left: 164px;
    font-size: 30px;
    margin-top: -120px;
}

.mart::first-letter {
    color: #10e7bc;
}

/* END MENY */

/* HEDER 1 */
.blockslaider {
    background: url("../image/devider.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 600px;

}

.text {
    /* height: 98px; */
    margin-top: -40px;

}

.text h1 {
    position: absolute;
    top: 385px;
    left: 360px;
    color: aliceblue;
    font-size: 50px;
}

.text p {
    position: absolute;
    top: 450px;
    left: 350px;
    color: aliceblue;
    font-size: 30px;
}

.strelka1 {
    width: 100px;
    height: 100px;
    background-color: #1abc9c;
    position: absolute;
    top: 400px;
    left: 145px;
}

.strelka2 {
    width: 100px;
    height: 100px;
    background-color: #1abc9c;
    position: absolute;
    top: 400px;
    left: 1160px;
}

.navig {
    font-size: 100px;
    color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 267px;
    margin-left: 157px;

}

.navig1 {
    position: absolute;
    font-size: 100px;
    color: white;
    width: 50px;
    height: 50px;
    margin-top: 267px;
    margin-left: 1180px;
}


/* HEDER2 */

.blockslaider2 {
    background-color: #e9f0fd;
    height: 670px;
    width: 1350px;
    position: absolute;

}

.product {
    width: 384px;
    height: 34px;
    margin-left: 450px;
    margin-top: 100px;

}

.text2 {
    font-size: 40px;
    color: rgba(81, 81, 81, 255);
    text-transform: uppercase;

}

.probel {
    font-size: 20px;
    /* text-align: cente2; */
    margin-top: 30px;
    margin-left: 540px;


}

.probel::after {
    content: "";
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;
    display: block;
    /* margin: auto; */
    /* margin-top: 20px; */
    /* margin-bottom: 50px; */
}

.prace p {
    font-size: 14pt;
    color: white;
    margin-left: 15px;
}

.foto {

    margin-left: 100px;
}

img {
    width: 255px;
}


.inner {
    width: 54px;
    height: 40px;
    background-color: #8c8c8c;
    float: right;
    margin-top: -21px;
}

.inner:hover,
.inner:focus {
    background-color: #1abc9c;
    text-transform: uppercase;
    opacity: 5;
}


.prace {
    width: 255px;
    height: 40px;
    background-color: #323232;
    position: absolute;
    margin-top: -4px;
}

.prace:hover,
.prace:focus {
    background-color: #1abc9c;
    text-transform: uppercase;
}

p {
    font-size: 14pt;
    color: white;
    margin-left: 15px;
    /* margin-top: 7px;   */
}


.blok {
    width: 255px;
    height: 322px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 80px;
    position: relative;

}

.overlay {
    width: 230px;
    height: 240px;
    margin-left: 13px;
    margin-top: 6px;
    position: absolute;
    background: #737373;
    display: none;
    opacity: 0.6;
}

.blok:hover .overlay {
    display: block;
}

.overlay-icon {
    position: absolute;
    display: inline-block;
    margin-left: 28px;

}

.overlay-icon button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    margin-left: 4px;
    margin-top: 100px;


}

.but button {
    width: 166px;
    height: 50px;
    border: none;
    outline: none;
    margin-top: 160px;
    margin-left: 32px;
    background-color: black;

}

.overlay-icon button:hover {
    background-color: #1abc9c;
}

.but button:hover {
    background-color: #1abc9c;

}

/* END HEDER3 */
}

.row-centered p {
    color: white;
    font-size: 18px;

}

/* FOOTER */

.fon {
    width: 1350px;
    height: 88px;
    background-color: #323232;
    /* background-size: cover; */
    margin-top: 100px;
    position: absolute;

}

.footer p {
    margin-right: 150px;
    text-align: center;

}